*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
h1{
    padding: 50px 0;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    padding: 15px 0;
    margin-bottom: 20px;
}
.product-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    border: 1px solid #333333;
    border-radius: 25px;
    gap:20px
}
.product-card p {
    font-size: 20px;
    font-weight: bold;
}
.product-card img {
    width: 80%;
}
.footer-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}