*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}
.container > div {
    width: 120px;
    height: 120px;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
p {
    margin: 0;
    font-size: 14px;
}
.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}