*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.red {
    background-color: darkred;
}
.blue{
    background-color: cornflowerblue;
}
.green{
    background-color: darkseagreen;
}
.arrow{
    cursor: pointer;
}
section h3{
    margin-top: 25px;
    margin-bottom: 25px;
}
section p{
    margin-bottom: 25px;
}