*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
section{
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    padding: 50px;
    gap:30px
}
section h2{
    margin-bottom: 10px;
}
section p {
    width: 80%;
}
.pink{
    color:black;
    background-color: #FFC1CB;
}
.black{
    background-color: #272727;
    color:white;
}